.block {
    position: fixed;
    top:0;
    left: 0;
    min-width: 1241vh;
    height: 100vh;
    background: black;
    z-index: 999;
    display: flex;
    
}
.operation {
    width: 400px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    align-items: start;
    gap: 20px;
    background: #313131;
}
.operation:only-child{
    color: white
}
#list_off::after {
    content: "";
    position: absolute;
    width: 2px;   
    height: 42px;
    transform: translateX(215px) translateY(-8px) scale(1);
    background: #fff;
}
#form_off::after {
    content: "";
    position: absolute;
    width: 2px;   
    height: 42px;
    transform: translateX(145px) translateY(-8px) scale(1);
    background: #fff;
    
}
.opers {
    padding: 0;
    margin: 0;
    min-height: 35px;
    width: auto;
    padding: 9px;
    border: 1px solid white;
    padding-top: 7px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    display: flex;
    cursor: pointer;
    background: none;
    font-size: 18px;
}
.opers:hover {
    transition: all .3s;
    border: 1px solid black;
}
.opers::before {
    content: ">";
    position: absolute;
    left: 6px;
    font-size: 14px;
}
.list {
    color: white;
    width: 1200px;
    background: #888;
    display: flex;
    flex-wrap: nowrap;
}
.prokrutka {
    height: auto;
    width: 1200px; 
    background: #fff; 
    border: 1px solid #C1C1C1; 
    color: black;
    overflow-x: scroll; 
    overflow-y: scroll;  
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.forms {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.247);
    border-radius: 20px;
    width: 1000px;
    min-height: 20px;
    padding: 70px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listUsers {
    border: 1px solid black;
    display: flex;
  
    width: 850px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.choice {
    width: 150px;
    border-radius: 8px;
}
.choices {
    font-size: 15px;
    
}
.saveRole {
    background: none;
    border: none;
    width: 55px;
    height: 35px;
    cursor: pointer;
}
.saveRole:hover #colorSvg {
    transition: all .3s;
    fill: #d1ff95;
}
.items {
    border-left: 1px solid black;
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
}
.items:first-child{
    border: none
}